<div class="container">
	<table id="accounts_table" class="table table-striped table-bordered">
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>Nature</th>
			<th>Balance</th>
			<th>Currency Code</th>
			<th>Actions</th>
		</thead>
		<tbody>
		<% @accounts.each do |account| %>
			<tr>
				<td><%= account.id %></td>
				<td><%= account.name %></td>
				<td><%= account.nature %></td>
				<td><%= account.balance %></td>
				<td><%= account.currency_code %></td>
				<td><%= link_to 'Show', transactions_index_path(account_id: account.id) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
  $(document).ready("turbolinks:load", function(){
	  $('#accounts_table').DataTable();
  });
</script>