<div class="container">
	<table id="transactions_table" class="table table-striped table-bordered">
		<thead>
			<th>Id</th>
			<th>Made On</th>
			<th>Category</th>
			<th>Status</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Actions</th>
		</thead>
		<tbody>
		<% @transactions.each do |transaction| %>
			<tr>
				<td><%= transaction.id %></td>
				<td><%= transaction.made_on %></td>
				<td><%= transaction.category %></td>
				<td><%= transaction.status %></td>
				<td><%= transaction.description %></td>
				<td><%= transaction.amount %> <%= transaction.currency_code %></td>

				<td>Show</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">

    $(document).ready("turbolinks:load", function(){
	    $('#transactions_table').DataTable({
			"order": [[ 0, 'DESC' ], [ 1, 'asc' ]]
		});
  	});
</script>