<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SaltEdgeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="<%= root_path %>">
              <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class: class_names('nav-link', { active: current_page?(root_path) }) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Accounts", accounts_index_path, class: class_names('nav-link', { active: current_page?(accounts_index_path) }) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Connections", connections_path, class: class_names('nav-link', { active: current_page?(connections_path) }) %>
                    </li>
                </ul>
                <div class="d-flex">
                  <% if connected? %>
                    <%= link_to "Disconnect", connection_path(id: current_user.connections.active.first), method: :delete, class: "btn btn-light ms-3" %>

                  <% else %>
                    <%= link_to "Connect", connections_path, method: :post, class: "btn btn-light ms-3" %>
                  <% end %>
                <div>
                <div class="d-flex">
                  <% if user_signed_in? %>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-light ms-3" %>
                  <% else %>
                    <%= link_to "Login", new_user_session_path, method: :get, class: "btn btn-light ms-3" %>
                  <% end %>
                </div>
            </div>
        </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
